<li class="categories__menu--items h-50">
  <a class="categories__menu--link" href="shop.html">
    <!-- <svg
      class="categories__menu--svgicon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
      <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
      <line x1="6" y1="1" x2="6" y2="4"></line>
      <line x1="10" y1="1" x2="10" y2="4"></line>
      <line x1="14" y1="1" x2="14" y2="4"></line>
    </svg> -->
    <span class="material-icons pe-15">two_wheeler</span>
    <!-- <i class="fa-solid fa-motorcycle pe-15"></i> -->
    Мототехника
    <svg
      class="categories__menu--right__arrow--icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.007"
      height="16.831"
      viewBox="0 0 512 512">
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M184 112l144 144-144 144" />
    </svg>
  </a>
  <ul
    class="categories__submenu style2 border-radius-10 d-flex justify-content-between">
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Fluids & Chemicals</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Cabin Air Filters
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Pistons liners
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Oil & lubricants
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Paintworks
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Interior Parts</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Air Boxes
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Tail Lights
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Mobile Electronics
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Car Covers
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Engine & Drivetrain</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Bumpers
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Hoods
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Fog Lights
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Engine Partses
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Body Parts</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Brake Calipers
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Engine Oil
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Motor Oil
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Oil Filters
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>
