<li class="categories__menu--items">
  <a
    class="categories__menu--link h-50 d-flex align-items-center justify-content-between"
    href="shop.html">
    <span class="material-icons pe-15">agriculture</span>

    <p class="categories__menu--title mb-0 mr-auto">Мотоблоки</p>
    <span><i class="fa-solid fa-caret-right"></i></span>
  </a>
  <ul
    class="categories__submenu style2 border-radius-10 d-flex justify-content-between">
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Fluids & Chemicals</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Cabin Air Filters
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Pistons liners
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Oil & lubricants
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Paintworks
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Interior Parts</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Air Boxes
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Tail Lights
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Mobile Electronics
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Car Covers
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Engine & Drivetrain</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Bumpers
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Hoods
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Fog Lights
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Engine Partses
          </a>
        </li>
      </ul>
    </li>
    <li class="categories__submenu--items">
      <a class="categories__submenu--items__text" href="shop.html">
        <strong>Body Parts</strong>
      </a>
      <ul class="categories__submenu--child">
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Brake Calipers
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Engine Oil
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Motor Oil
          </a>
        </li>
        <li class="categories__submenu--child__items">
          <a class="categories__submenu--child__items--link" href="shop.html">
            Oil Filters
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>
