<ul class="nav tab__btn--wrapper" role="tablist">
  <li class="tab__btn--item" role="presentation">
    <button
      class="tab__btn--link active"
      data-bs-toggle="tab"
      data-bs-target="#bicycle"
      type="button"
      role="tab"
      aria-selected="true">
      Велосипеды
    </button>
  </li>
  <li class="tab__btn--item" role="presentation">
    <button
      class="tab__btn--link"
      data-bs-toggle="tab"
      data-bs-target="#accessories"
      type="button"
      role="tab"
      aria-selected="false">
      Аксессуары
    </button>
  </li>
  <li class="tab__btn--item" role="presentation">
    <button
      class="tab__btn--link"
      data-bs-toggle="tab"
      data-bs-target="#moto"
      type="button"
      role="tab"
      aria-selected="false">
      Мототехника
    </button>
  </li>
  <li class="tab__btn--item" role="presentation">
    <button
      class="tab__btn--link"
      data-bs-toggle="tab"
      data-bs-target="#parts"
      type="button"
      role="tab"
      aria-selected="false">
      Запчасти
    </button>
  </li>
  <li class="tab__btn--item" role="presentation">
    <button
      class="tab__btn--link"
      data-bs-toggle="tab"
      data-bs-target="#scooter"
      type="button"
      role="tab"
      aria-selected="false">
      Самокаты
    </button>
  </li>
</ul>
