<div class="categories__menu header__nav--widget d-none">
  <div
    class="categories__menu--header bg__secondary text-white d-flex align-items-center"
    data-bs-toggle="collapse"
    data-bs-target="#categoriesAccordion2">
    <svg
      class="categories__list--icon mr-15"
      width="18"
      height="15"
      viewBox="0 0 18 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <rect width="13" height="1.5" fill="currentColor" />
      <rect y="4.44434" width="18" height="1.5" fill="currentColor" />
      <rect y="8.88892" width="15" height="1.5" fill="currentColor" />
      <rect y="13.3333" width="17" height="1.5" fill="currentColor" />
    </svg>

    <span class="categories__menu--title">Категории</span>
    <svg
      class="categories__arrowdown--icon"
      xmlns="http://www.w3.org/2000/svg"
      width="12.355"
      height="8.394"
      viewBox="0 0 10.355 6.394">
      <path
        d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
        transform="translate(-6 -8.59)"
        fill="currentColor" />
    </svg>
  </div>
</div>
