<div class="categories__menu header__nav--widget d-none">
  <div
    class="categories__menu--header bg__secondary text-white d-flex align-items-center"
    data-bs-toggle="collapse"
    data-bs-target="#categoriesAccordion2">
    <svg
      class="categories__list--icon"
      width="18"
      height="15"
      viewBox="0 0 18 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <rect width="13" height="1.5" fill="currentColor" />
      <rect y="4.44434" width="18" height="1.5" fill="currentColor" />
      <rect y="8.88892" width="15" height="1.5" fill="currentColor" />
      <rect y="13.3333" width="17" height="1.5" fill="currentColor" />
    </svg>

    <span class="categories__menu--title">Категории</span>
    <svg
      class="categories__arrowdown--icon"
      xmlns="http://www.w3.org/2000/svg"
      width="12.355"
      height="8.394"
      viewBox="0 0 10.355 6.394">
      <path
        d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
        transform="translate(-6 -8.59)"
        fill="currentColor" />
    </svg>
  </div>
  <div
    class="dropdown__categories--menu border-radius-5 active collapse"
    id="categoriesAccordion2">
    <nav class="category__mobile--menu">
      <ul class="category__mobile--menu_ul">
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
              <line x1="8" y1="21" x2="16" y2="21"></line>
              <line x1="12" y1="17" x2="12" y2="21"></line>
            </svg>
            Lighting
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="6 9 6 2 18 2 18 9"></polyline>
              <path
                d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
              <rect x="6" y="14" width="12" height="8"></rect>
            </svg>
            Smart Devices
          </a>
          <ul class="category__sub--menu">
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Body Parts
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Brake Calipers
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Oil and Vinegar
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Engine Oil
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Oil Filters
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Interior Parts
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Air Boxes
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Tail Lights
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Mobile Electronic
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Car Covers
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Engine & Drivetrain
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Cabin Air Filters
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Pistons liners
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Bread and Juice
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Paintworks
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Cargo Accessories
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Body Parts
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Engine Parts
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Tires & Wheels
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Repair Parts
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <rect x="2" y="7" width="20" height="15" rx="2" ry="2"></rect>
              <polyline points="17 2 12 7 7 2"></polyline>
            </svg>
            Paintworks
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
              <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
              <line x1="6" y1="1" x2="6" y2="4"></line>
              <line x1="10" y1="1" x2="10" y2="4"></line>
              <line x1="14" y1="1" x2="14" y2="4"></line>
            </svg>
            Replacement Parts
          </a>
          <ul class="category__sub--menu">
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Body Parts
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Brake Calipers
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Oil and Vinegar
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Engine Oil
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Oil Filters
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Interior Parts
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Air Boxes
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Tail Lights
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Mobile Electronic
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Car Covers
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Engine & Drivetrain
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Cabin Air Filters
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Pistons liners
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Bread and Juice
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Paintworks
                  </a>
                </li>
              </ul>
            </li>
            <li class="categories__submenu--items">
              <a class="categories__submenu--items__text" href="shop.html">
                Cargo Accessories
              </a>
              <ul class="category__sub--menu">
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Body Parts
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Engine Parts
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Tires & Wheels
                  </a>
                </li>
                <li class="categories__submenu--child__items">
                  <a
                    class="categories__submenu--child__items--link"
                    href="shop.html">
                    Repair Parts
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <circle
                cx="256"
                cy="184"
                r="120"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="32" />
              <circle
                cx="344"
                cy="328"
                r="120"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="32" />
              <circle
                cx="168"
                cy="328"
                r="120"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="32" />
            </svg>
            Beauty & Care
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
              <rect x="9" y="9" width="6" height="6"></rect>
              <line x1="9" y1="1" x2="9" y2="4"></line>
              <line x1="15" y1="1" x2="15" y2="4"></line>
              <line x1="9" y1="20" x2="9" y2="23"></line>
              <line x1="15" y1="20" x2="15" y2="23"></line>
              <line x1="20" y1="9" x2="23" y2="9"></line>
              <line x1="20" y1="14" x2="23" y2="14"></line>
              <line x1="1" y1="9" x2="4" y2="9"></line>
              <line x1="1" y1="14" x2="4" y2="14"></line>
            </svg>
            Car Parts
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <line x1="22" y1="12" x2="2" y2="12"></line>
              <path
                d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
              <line x1="6" y1="16" x2="6.01" y2="16"></line>
              <line x1="10" y1="16" x2="10.01" y2="16"></line>
            </svg>
            Gaming Toiys
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
              <polyline points="2 17 12 22 22 17"></polyline>
              <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            Oil Fluids
          </a>
        </li>
        <li class="categories__menu--items">
          <a class="categories__menu--link" href="shop.html">
            <svg
              class="categories__menu--svgicon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M4 11a9 9 0 0 1 9 9"></path>
              <path d="M4 4a16 16 0 0 1 16 16"></path>
              <circle cx="5" cy="19" r="1"></circle>
            </svg>
            Baby Car Seat
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
