<div class="categories__menu header__nav--widget d-none">
  <div class="d-flex align-items-center justify-content-between">
    <div
      class="categories__menu--header me-28"
      data-bs-toggle="collapse"
      data-bs-target="#categoriesAccordion2">
      <i class="fa-solid fa-list fs-1"></i>
    </div>
    <div class="mb-3 d-flex">
      <label for="" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="" />
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</div>
