<div class="header__bottom bg__primary tab-d-none">
  <div class="header__bottom--inner position__relative">
    <!-- @include('./categories__menu-mob.html') -->

    <ul
      class="header__menu--wrapper d-flex align-items-center justify-content-between">
      <!--? cat-1 bicycle -->
      @include('../categories/bicycles.html')
      <!--? cat-2 parts -->
      @include('../categories/parts.html')
      <!--? cat - 3 accessories -->
      @include('../categories/accessoires.html')
      <!--? cat - 4 scooter -->
      @include('../categories/moto.html')
      <!-- ? cat - 5 electro -->
      @include('../categories/motoblock.html')
      <!-- ? cat - 6 -->
      @include('../categories/electro.html')
      <!-- ? cat - 7 -->
      <!-- @include('../categories/kick-scooter.html') -->
      <!-- ? cat - 8 -->
      @include('../categories/tools-oils.html')
      <!-- ? cat - 9 -->
      <!-- @include('../categories/tools.html') -->
      <!-- ? cat - 10 -->
    </ul>
  </div>
</div>
