<section class="categories__section section--padding pt-0">
  <div class="container">
    <div class="section__heading border-bottom mb-30">
      <h2 class="section__heading--maintitle">
        Смотреть
        <span>категории</span>
      </h2>
    </div>
    <div class="categories__section--inner">
      <div class="row mb--n30">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/bikes_cat.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Велосипеды</h2>
                <span class="categories__content--subtitle">(20 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/bikes_accs.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Аксессуары</h2>
                <span class="categories__content--subtitle">(18 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/bike_parts_cat.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Велозапчасти</h2>
                <span class="categories__content--subtitle">(23 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/el_bikes.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Электро велосипеды</h2>
                <span class="categories__content--subtitle">(17 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/el_samokat.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Электро самокаты</h2>
                <span class="categories__content--subtitle">(24 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/moto_parts.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Мото запчасти</h2>
                <span class="categories__content--subtitle">(23 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/oils.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Мото масла</h2>
                <span class="categories__content--subtitle">(26 Items)</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col mb-30">
          <div class="categories__card style2">
            <a
              class="categories__card--link__style2 d-flex align-items-center"
              href="shop.html">
              <div class="categories__thumbnail">
                <img
                  class="categories__thumbnail--img"
                  src="../img/categories-1/scooter_parts.png"
                  alt="categories-img" />
              </div>
              <div class="categories__content">
                <h2 class="categories__content--title">Скутеры</h2>
                <span class="categories__content--subtitle">(16 Items)</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
